#order-grid {
  height: 90%;
  width: 100%;

  .order-title {
    padding: 2% 0;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $textSecondary;
  }

  .ag-root-wrapper, .ag-header, .ag-row {
    background-color: transparent !important;
  }

  .ag-header-cell, .ag-cell {
    font-size: 12px;
    padding: 0 0 0 10px;
  }

  .status {
    text-align: center;
    padding: 0;
  }
}