.live-chart-wrapper {
  .live-chart-heading {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: $textSecondary;
  }

  .range-btn-wrapper {
    margin: 20px 0 10px 20px;

    .range-btn {
      background-color: transparent;
      border: none;
      font-weight: normal;
      font-size: 14px !important;
      font-style: normal;
      line-height: 24px;
      letter-spacing: 0em;
      color: $textMuted !important;
      cursor: crosshair;
      outline-width: 0;

      &.active {
        color: $redFail !important;
        border: 1px thick rgba(239, 239, 239, 0.05) 0%;
        font-weight: 500;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 12.05%, rgba(38, 41, 46, 0) 100%);
        box-shadow: inset 2px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
    }
  }

  .currency-selector-value-wrapper {
    padding: 20px 40px 0 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;

    .currency-picker {
      width: 360px;
      flex: 1;
    }

    .currency-value {
      margin-left: auto;
      flex: 1;

      > div {
        float: right;

        .flash-value {
          font-family: Rubik;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 47px;
          letter-spacing: 0em;
        }
      }

      .currency-change {
        font-size: 20px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        color: $greenSuccess;
        float: right;
      }
    }
  }
}