.wallet-list {
  margin: 10px;
  padding: 16px;
  @extend .block-card;
  height: calc(100vh - 20px);
  font-size: 16px;

  .grid-title {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: $textSecondary;
    margin-bottom: 16px;
  }

  .my-grid {
    height: 95%;

    .ag-root-wrapper, .ag-header, .ag-row {
      background-color: transparent !important;
    }

    .ag-header-cell, .ag-cell {
      color: $textMuted;
    }
  }
}