.winner-looser-card {
  padding: 20px;
  font-size: 12px;

  .winner-looser-card-title {
    margin-left: 10px;
    height: 24px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: $textSecondary;
  }

  .no-mover {
    display: flex;
    height: 125px;
    justify-content: center;
    align-items: center;
  }

  .winner-looser-card-body {
    margin: 10px 5px;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(400px);
    border-radius: 8px;
    padding: 15px;

    .name {
      color: $textLight;
      line-height: 19px;
    }

    .symbol {
      color: $textMuted;
      font-size: 12px;
      line-height: 14px;
    }
  }
}