$darkGray: #343a40;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #343a40 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #212529;
}

.btn-graph {
  color: grey !important;
  &:hover,
  &.active {
    color: white !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

input,
select {
  &:focus {
    box-shadow: none !important;
    border-color: white !important;
  }
}

.body {
  min-height: calc(100vh - 116px);
}

.h-fit-content {
  height: fit-content;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}