@import "_variable";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $darkGray !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #212529;
}

.btn-graph {
  color: grey !important;

  &:hover,
  &.active {
    color: white !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

input,
select {
  &:focus {
    box-shadow: none !important;
    border-color: white !important;
  }
}

.body {
  min-height: calc(100vh - 116px);
}

.h-fit-content {
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}

.float-right {
  float: right;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.block-card {
  background: radial-gradient(50% 157.72% at 0% 0%, rgba(239, 239, 239, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.row > * {
  margin: 0 !important;
  padding: 0 !important;
}


.positive-value {
  color: $greenSuccess;
}

.negative-value {
  color: $redFail;
}

.warning-value {
  color: $yellowWarning;
}
@import "../src/components/common/currencyDropdown/";
@import "../src/components/common/tab/";
@import "main";
