.app-background {
  height: 100vh;
  background-image: url($backgroundImageUrl);
  background-size: 100% 100%;
  font-family: "Rubik", sans-serif;
  color: $textMuted;

  .app-body {
    background: rgba(34, 37, 45, 0.8);
    backdrop-filter: blur(120px);
    min-height: 100vh;

    .main-content {
      padding: 0 5px;
    }

    .side-bar {
      @extend .block-card;
      min-height: 100vh;
    }

    section {
      margin: 5px;
    }

    .largest-movers {
      @extend .block-card;
      flex-basis: 40%;
      margin-left: 10px;
      @import "../src/components/currencyMarketToday";
    }

    .live-chart {
      @extend .block-card;
      flex-grow: 1;
      margin-left: 10px;
      @import "../src/components/liveChart";
    }

    .quick-trade {
      @extend .block-card;
      flex-basis: 30%;
      @import "../src/components/quickTrade";
    }

    .orders {
      @extend .block-card;
      flex-grow: 1;
      padding: 10px;
      @import "../src/components/Orders";
    }
  }
}
