.app-background {
  height: 100vh;
  background-image: url($backgroundImageUrl);
  background-size: 100% 100%;
  font-family: 'Rubik', sans-serif;
  color: $textMuted;

  .app-body {
    background: rgba(34, 37, 45, 0.8);
    backdrop-filter: blur(120px);
    height: 100vh;

    .main {
      padding: 0 5px;
    }

    .side-bar {
      @extend .block-card;
      height: 100vh;
      margin-bottom: 0;
      margin-right: 5px;
    }

    .search-bar {
      flex-basis: 8%;
    }

    section {
      margin: 5px;
    }

    .largest-movers {
      @extend .block-card;
      flex-basis: 40%;
    }

    .live-chart {
      @extend .block-card;
      flex-grow: 1;
    }

    .quick-trade {
      @extend .block-card;
      flex-basis: 30%;
      margin-left: 1rem;
       @import "../src/components/quickTrade";
    }

    .orders {
      @extend .block-card;
      flex-grow: 1;
      padding: 10px;
    }
  }
}